<div class="routes w-screen  bg-[#f1f1f1] select-none ">

    <app-nav-bar></app-nav-bar>


    <div class="flex flex-col gap-3">
        
        <div style="position: sticky; top:56px; z-index: 10;">
            <app-header></app-header>
        </div>

        <div class="main  flex w-full items-center justify-center">
            <div class="content w-[80%]  flex gap-2">

                <div class="left flex-shrink-0 bg-white  rounded-2xl w-[28%] h-152" style="position: sticky; top: 10.9rem;">
    
                    <div class="left1 Header p-5 flex justify-between items-center ">
                        <div class="header gap-3 flex justify-between items-center">
                            <div class="filterIcon flex justify-center items-center">
                                <span class="material-symbols-outlined text-[#88a6d0]" style="font-size: 2cqi; cursor: pointer;">
                                    tune
                                </span>
                            </div>
                            <div class="quickFilter">
                                <p class="m-0 text-xl ">Quick Filters</p>
                            </div>
                        </div>
    
                        <div class="reset">
                            <p class="m-0 text-xs text-[#01478c]">RESET ALL</p>
                        </div>
                    </div>
    
                    <div class="filter1">
                        <div class="filter1.1 flex justify-between items-center px-4 py-1">
                            <label for="toggle" class="m-0 text-[0.9rem] text-[#333333] opacity-80">Show Available Only</label>
                            <input type="checkbox" id="toggle">
                        </div>
    
                        <div class="filter1.1 flex justify-between items-center px-4 py-1">
                            <label for="toggle1" class="m-0 text-[0.9rem] text-[#333333] opacity-80">Show AC Only</label>
                            <input type="checkbox" id="toggle1">
                        </div>
    
                        <div class="filter1.1 flex justify-between items-center px-4 py-1">
                            <label for="toggle2" class="m-0 text-[0.9rem] text-[#333333] opacity-80">Train from NDLS Only</label>
                            <input type="checkbox" id="toggle2">
                        </div>
    
                        <div class="filter1.1 flex justify-between items-center px-4 py-1">
                            <label for="toggle3" class="m-0 text-[0.9rem] text-[#333333] opacity-80">Train Reaching LKO Only</label>
                            <input type="checkbox" id="toggle3">
                        </div>
                        
                    </div>
    
                    <hr class="w-full my-4 opacity-5">
                    
                    <div class="filter2">
                        <div class="filter2Heading flex items-center gap-3 p-3">
                            <div class="filter2Icon">
                                <span class="material-symbols-outlined text-[#7c81c8]" style="font-size: 1.95rem; cursor: pointer;">
                                    docs
                                </span>
                            </div>
                            <p class="m-0 text-xl">Quota</p>
                        </div>
                        <div class="filter2.1 flex flex-wrap p-2 gap-y-2" >
                            <div class="filter2.1.1 flex gap-3  items-center px-4 py-1 w-[50%]">
                                <input type="checkbox" id="toggle4">
                                <label for="toggle4" class="m-0 text-[0.9rem] text-[#333333] opacity-80">General</label>
                            </div>
                            <div class="filter2.1.1 flex gap-3 items-center px-4 py-1 w-[50%]">
                                <input type="checkbox" id="toggle5">
                                <label for="toggle5" class="m-0 text-[0.9rem] text-[#333333] opacity-80">Ladies</label>
                            </div>
                            <div class="filter2.1.1 flex gap-3 items-center px-4 py-1 w-[50%]">
                                <input type="checkbox" id="toggle6">
                                <label for="toggle6" class="m-0 text-[0.9rem] text-[#333333] opacity-80">Tatkal</label>
                            </div>
                            <div class="filter2.1.1 flex gap-3 items-center px-4 py-1 w-[50%]">
                                <input type="checkbox" id="toggle7">
                                <label for="toggle7" class="m-0 text-[0.9rem] text-[#333333] opacity-80">Sr. Citizen</label>
                            </div>
    
                        </div>
                    </div>
                    
                    <hr class="w-full my-4 opacity-5">
    
    
                    <div class="filter3">
                        <div class="filter2Heading p-3">
                            <p class="m-0 text-xl">Arrival Time</p>
                        </div>
    
                        <div class="filter3.1 p-2 flex flex-col gap-y-2" >
    
                            <div class="filter3.1.1 flex  items-center">
                                <div class="morning flex w-[50%] gap-3  items-center px-4 py-1 ">
                                    <input type="checkbox" id="toggle8">
                                    <label for="toggle8" class="m-0 text-[0.9rem] text-[#000000] font-[500] opacity-80">Morning</label>
                                </div>
                                <label for="toggle8" class="m-0 text-[#000000] text-[0.85rem] opacity-40">06AM - 12 noon</label>
                            </div>
                            <div class="filter3.1.1 flex items-center">
                                <div class="morning flex w-[50%] gap-3  items-center px-4 py-1 ">
                                    <input type="checkbox" id="toggle9">
                                    <label for="toggle9" class="m-0 text-[0.9rem] text-[#000000] font-[500] opacity-80">Afternoon</label>
                                </div>
                                <label for="toggle9" class="m-0 text-[#000000] text-[0.85rem] opacity-40">12 noon - 06 PM</label>
                            </div>
                            <div class="filter3.1.1 flex  items-center">
                                <div class="morning flex w-[50%] gap-3  items-center px-4 py-1 ">
                                    <input type="checkbox" id="toggle10">
                                    <label for="toggle10" class="m-0 text-[0.9rem] text-[#000000] font-[500] opacity-80">Evening</label>
                                </div>
                                <label for="toggle10" class="m-0 text-[#000000] text-[0.85rem] opacity-40">06PM - Midnight</label>
                            </div>
                            <div class="filter3.1.1 flex  items-center">
                                <div class="morning flex w-[50%] gap-3  items-center px-4 py-1 ">
                                    <input type="checkbox" id="toggle11">
                                    <label for="toggle11" class="m-0 text-[0.9rem] text-[#000000] font-[500] opacity-80">Night</label>
                                </div>
                                <label for="toggle11" class="m-0 text-[#000000] text-[0.85rem] opacity-40">12 Midnight - 06AM </label>
                            </div>
    
                        </div>
                    </div>
    
                </div>
    
                <div class="right p-2 pb-1 rounded-3xl  flex-grow">

                    <div class="rightDiv1 ">
                        <div class="selectDate flex  h-[3rem]">
                            <div class="left1 Arrow w-[4%] bg-[#d1e5ff] cursor-pointer  flex items-center justify-center border-1 me-1 ps-1" style="border-color:#01478c; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
                                <span class="material-symbols-outlined text-[#2c89f8]" style="font-size: 1rem; cursor: pointer;">
                                    arrow_back_ios
                                </span>
                            </div>

                            <div class="flex flex-grow-1">
                                <label for="one" class="date cursor-pointer flex-grow flex items-center justify-center border-1 text-xs text-black" style="border-color: #999999;">
                                    <input type="radio" id="one"  name="select-icon"   value="1" />
                                    <span  class="cursor-pointer">Wed,25 June</span>
                                </label>
                                <label for="two" class="date cursor-pointer flex-grow flex items-center justify-center border-1 text-xs text-black" style="border-color: #999999;">
                                    <input type="radio" id="two"  name="select-icon"   value="1" />
                                    <span  class="cursor-pointer">Thu,26 June</span>
                                </label>
                                <label for="three"  class="date cursor-pointer flex-grow flex items-center justify-center border-1 text-xs text-black" style="border-color: #999999;">
                                    <input type="radio" id="three"  name="select-icon"   value="1" />
                                    <span class="cursor-pointer">Fri,27 June</span>
                                </label>
                                <label for="four" class="date cursor-pointer flex-grow flex items-center justify-center border-1 text-xs text-black" style="border-color: #999999;">
                                    <input type="radio" id="four"  name="select-icon"   value="1" />
                                    <span  class="cursor-pointer">Thu,28 June</span>
                                </label>
                                <label for="five" class="date cursor-pointer flex-grow flex items-center justify-center border-1 text-xs text-black" style="border-color: #999999;">
                                    <input type="radio" id="five"  name="select-icon"   value="1" />
                                    <span  class="cursor-pointer">Fri,29 June</span>
                                </label>
                                <label for="six" class="date cursor-pointer flex-grow flex items-center justify-center border-1 text-xs text-black" style="border-color: #999999;">
                                    <input type="radio" id="six"  name="select-icon"   value="1" />
                                    <span  class="cursor-pointer">Sat,30 June</span>
                                </label>
                                <label for="seven" class="date cursor-pointer flex-grow flex items-center justify-center border-1 text-xs text-black" style="border-color: #999999;">
                                    <input type="radio" id="seven"  name="select-icon"   value="1" />
                                    <span  class="cursor-pointer">Sun,1 Jul</span>
                                </label>
                            </div>

                            <div class="rightArrow w-[4%] bg-[#d1e5ff] cursor-pointer flex items-center justify-center border-1 ms-1" style="border-color:#01478c; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                                <span class="material-symbols-outlined text-[#2c89f8]" style="font-size: 1rem;cursor: pointer;">
                                    arrow_forward_ios
                                </span>
                            </div>
                        </div>
                        <div class="found  h-[4rem] flex items-center justify-between">
                            <div class="foundPara">
                                <p class="m-0 opacity-60">We have found 33 Trains on or near by this route</p>
                            </div>
                            <div class="flex justify-between items-center text-[0.9rem]">
                                <p>Sorted By : </p>
                                <select class="mx-2 pe-5 dropdown w-50 " >
                                    <option value="en">Recommended</option>
                                    <option value="en">A</option>
                                    <option value="pt">B</option>
                                </select> 
                            </div>
                        </div>
                    </div>

                    <div class="rightDiv2 bg-white h-[100vh] rounded-xs ">

                        <div class="div1 px-4 py-1 flex justify-between items-center">
                            <div class="interCity">
                                <p class="font-[500]">InterCity Express(12459) Train Time Table</p>
                            </div>
                            <div class="daily">
                                <p class="opacity-60 pe-3">Daily</p>
                            </div>
                        </div>

                        <div class="div2 bg-[#7d7d7d] py-1 flex justify-between items-center text-white">
                            <div class="arrival w-[50%] flex justify-around items-center">
                                <h1>Arrival</h1>
                                <h1>Station</h1>
                            </div>
                            <div class="departure pe-3">
                                <h1>Departure</h1>
                            </div>
                        </div>

                        <div class="div3 pt-8 " style="position: relative;">
                            <div class="day1 bg-[#7d7d7d] w-[25%] flex justify-center items-center text-white">
                                <p>Day 1</p>
                            </div>

                            <div class="details  ">
                                <div class="detail1 flex mt-5" style="position: relative;">
                                    <div class="arrivalStation w-[26%] flex flex-col items-center">
                                        <div class="station1 font-[400] w-[40%] flex items-center justify-center">
                                            <p class="">NDLS</p>
                                        </div>
                                        <div class="arrivalTime opacity-60 w-[40%] text-xs flex items-center justify-center">
                                            <p class="">START</p>
                                        </div>
                                    </div>
                                    <div class="destination  flex-grow-1 ">
                                        <div class="pe-3 ps-10 flex justify-between items-center">
                                            <div class="destiny font-[400]">
                                                <p>New Delhi <sup>1</sup></p>
                                                <p class=" text-xs"><span class="opacity-40">0.0 Kms |</span> <span class="text-blue-400 ps-1">PF #1</span></p>
                                            </div>
                                            <div class="time2 opacity-40 text-xs">
                                                <p>13.50</p>
                                            </div>
                                        </div>
                                        <hr class="w-[98%] opacity-20 my-3 ms-2 ">
                                    </div>
                                </div>

                                <div class="detail1 flex mt-5" style="position: relative;">
                                    <div class="arrivalStation w-[26%] flex flex-col items-center">
                                        <div class="station1 font-[400] w-[40%] flex items-center justify-center">
                                            <p class="">NDLS</p>
                                        </div>
                                        <div class="arrivalTime opacity-60 w-[40%] text-xs flex items-center justify-center">
                                            <p class="">START</p>
                                        </div>
                                    </div>
                                    <div class="destination  flex-grow-1 ">
                                        <div class="pe-3 ps-10 flex justify-between items-center">
                                            <div class="destiny font-[400]">
                                                <p>New Delhi <sup>1</sup></p>
                                                <p class=" text-xs"><span class="opacity-40">0.0 Kms |</span> <span class="text-blue-400 ps-1">PF #1</span></p>
                                            </div>
                                            <div class="time2 opacity-40 text-xs">
                                                <p>13.50</p>
                                            </div>
                                        </div>
                                        <hr class="w-[98%] opacity-20 my-3 ms-2 ">
                                    </div>
                                </div>

                                <div class="detail1 flex mt-5" style="position: relative;">
                                    <div class="arrivalStation w-[26%] flex flex-col items-center">
                                        <div class="station1 font-[400] w-[40%] flex items-center justify-center">
                                            <p class="">NDLS</p>
                                        </div>
                                        <div class="arrivalTime opacity-60 w-[40%] text-xs flex items-center justify-center">
                                            <p class="">START</p>
                                        </div>
                                    </div>
                                    <div class="destination  flex-grow-1 ">
                                        <div class="pe-3 ps-10 flex justify-between items-center">
                                            <div class="destiny font-[400]">
                                                <p>New Delhi <sup>1</sup></p>
                                                <p class=" text-xs"><span class="opacity-40">0.0 Kms |</span> <span class="text-blue-400 ps-1">PF #1</span></p>
                                            </div>
                                            <div class="time2 opacity-40 text-xs">
                                                <p>13.50</p>
                                            </div>
                                        </div>
                                        <hr class="w-[98%] opacity-20 my-3 ms-2 ">
                                    </div>
                                </div>

                                <div class="detail1 flex mt-5" style="position: relative;">
                                    <div class="arrivalStation w-[26%] flex flex-col items-center">
                                        <div class="station1 font-[400] w-[40%] flex items-center justify-center">
                                            <p class="">NDLS</p>
                                        </div>
                                        <div class="arrivalTime opacity-60 w-[40%] text-xs flex items-center justify-center">
                                            <p class="">START</p>
                                        </div>
                                    </div>
                                    <div class="destination  flex-grow-1 ">
                                        <div class="pe-3 ps-10 flex justify-between items-center">
                                            <div class="destiny font-[400]">
                                                <p>New Delhi <sup>1</sup></p>
                                                <p class=" text-xs"><span class="opacity-40">0.0 Kms |</span> <span class="text-blue-400 ps-1">PF #1</span></p>
                                            </div>
                                            <div class="time2 opacity-40 text-xs">
                                                <p>13.50</p>
                                            </div>
                                        </div>
                                        <hr class="w-[98%] opacity-20 my-3 ms-2 ">
                                    </div>
                                </div>

                                <div class="detail1 flex mt-5" style="position: relative;">
                                    <div class="arrivalStation w-[26%] flex flex-col items-center">
                                        <div class="station1 font-[400] w-[40%] flex items-center justify-center">
                                            <p class="">NDLS</p>
                                        </div>
                                        <div class="arrivalTime opacity-60 w-[40%] text-xs flex items-center justify-center">
                                            <p class="">START</p>
                                        </div>
                                    </div>
                                    <div class="destination  flex-grow-1 ">
                                        <div class="pe-3 ps-10 flex justify-between items-center">
                                            <div class="destiny font-[400]">
                                                <p>New Delhi <sup>1</sup></p>
                                                <p class=" text-xs"><span class="opacity-40">0.0 Kms |</span> <span class="text-blue-400 ps-1">PF #1</span></p>
                                            </div>
                                            <div class="time2 opacity-40 text-xs">
                                                <p>13.50</p>
                                            </div>
                                        </div>
                                        <hr class="w-[98%] opacity-20 my-3 ms-2 ">
                                    </div>
                                </div>
                                <div class="detail1 flex mt-5" style="position: relative;">
                                    <div class="arrivalStation w-[26%] flex flex-col items-center">
                                        <div class="station1 font-[400] w-[40%] flex items-center justify-center">
                                            <p class="">NDLS</p>
                                        </div>
                                        <div class="arrivalTime opacity-60 w-[40%] text-xs flex items-center justify-center">
                                            <p class="">START</p>
                                        </div>
                                    </div>
                                    <div class="destination  flex-grow-1 ">
                                        <div class="pe-3 ps-10 flex justify-between items-center">
                                            <div class="destiny font-[400]">
                                                <p>New Delhi <sup>1</sup></p>
                                                <p class=" text-xs"><span class="opacity-40">0.0 Kms |</span> <span class="text-blue-400 ps-1">PF #1</span></p>
                                            </div>
                                            <div class="time2 opacity-40 text-xs">
                                                <p>13.50</p>
                                            </div>
                                        </div>
                                        <hr class="w-[98%] opacity-20 my-3 ms-2 ">
                                    </div>
                                </div>

                                <div class="detail1 flex mt-5" style="position: relative;">
                                    <div class="arrivalStation w-[26%] flex flex-col items-center">
                                        <div class="station1 font-[400] w-[40%] flex items-center justify-center">
                                            <p class="">NDLS</p>
                                        </div>
                                        <div class="arrivalTime opacity-60 w-[40%] text-xs flex items-center justify-center">
                                            <p class="">START</p>
                                        </div>
                                    </div>
                                    <div class="destination  flex-grow-1 ">
                                        <div class="pe-3 ps-10 flex justify-between items-center">
                                            <div class="destiny font-[400]">
                                                <p>New Delhi <sup>1</sup></p>
                                                <p class=" text-xs"><span class="opacity-40">0.0 Kms |</span> <span class="text-blue-400 ps-1">PF #1</span></p>
                                            </div>
                                            <div class="time2 opacity-40 text-xs">
                                                <p>13.50</p>
                                            </div>
                                        </div>
                                        <hr class="w-[98%] opacity-20 my-3 ms-2 ">
                                    </div>
                                </div>

                                <div class="detail1 flex mt-5" style="position: relative;">
                                    <div class="arrivalStation w-[26%] flex flex-col items-center">
                                        <div class="station1 font-[400] w-[40%] flex items-center justify-center">
                                            <p class="">NDLS</p>
                                        </div>
                                        <div class="arrivalTime opacity-60 w-[40%] text-xs flex items-center justify-center">
                                            <p class="">START</p>
                                        </div>
                                    </div>
                                    <div class="destination  flex-grow-1 ">
                                        <div class="pe-3 ps-10 flex justify-between items-center">
                                            <div class="destiny font-[400]">
                                                <p>New Delhi <sup>1</sup></p>
                                                <p class=" text-xs"><span class="opacity-40">0.0 Kms |</span> <span class="text-blue-400 ps-1">PF #1</span></p>
                                            </div>
                                            <div class="time2 opacity-40 text-xs">
                                                <p>13.50</p>
                                            </div>
                                        </div>
                                        <hr class="w-[98%] opacity-20 my-3 ms-2 ">
                                    </div>
                                </div>
                                


                                
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>