

<div class="main h-screen w-screen bg-blue-100 border-5 border-blue-400 flex flex-col gap-10 " [ngClass]="['animated-move', isMoved ?  'dark-theme':'']">
    <div class="  flex justify-center gap-5 p-2 ">
        <div class="">
            <label for="">NAME: </label>
            <input class="border p-1 rounded-md" type="text" placeholder="enter name">
        </div>
        <div class="">
            <label for="">ADDRESS: </label>
            <input class="border p-1 rounded-md" type="text" placeholder="enter address">
        </div>
        <div class="">
            <label for="">MOB. NO.: </label>
            <input class="border p-1 rounded-md" type="text" placeholder="enter mob. noi ">
        </div>
    
    </div>

    <div class="box gap-3 flex  justify-center items-center">
        <label class="font-[500]" for="">Country/Region</label>
        <select class="px-4 dropdown " >
            <option value="en">India</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">India</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">India</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">India</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">India</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">India</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
            <option value="en">Australia</option>
            <option value="pt">Canada</option>
            <option value="en">America</option>
            <option value="en">Japan</option>
            <option value="pt">Russia</option>
            <option value="en">Nepal</option>
            <option value="en">Bhutan</option>
            <option value="pt">Sri Lanka</option>
        </select>  
    </div>

    <div class="flex justify-center items-center">
        <button (click)="toggleMove()" class="bg-blue-800 text-white px-5 py-2 rounded-lg">TOGGLE ME</button>
    </div>
</div>
